[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kmkpbk
[access "refs/for/refs/*"]
	read = group user/kmkpbk
	push = group user/kmkpbk
	label-Code-Review = -2..+2 group user/kmkpbk
	label-Verified = -1..+1 group user/kmkpbk
	rebase = group user/kmkpbk
	removeReviewer = group user/kmkpbk
	submit = group user/kmkpbk
[access "refs/heads/*"]
	read = group user/kmkpbk
	create = group user/kmkpbk
	push = +force group user/kmkpbk
	pushMerge = group user/kmkpbk
[access "refs/tags/*"]
	push = group user/kmkpbk
	push = +force group user/kmkpbk
